
         <% if(user){  %>
           <div class="d-flex justify-content-end">
             <a href="/users/add">
                 <button class="btn btn-primary" type="button" href="/users/add">
             <img src="/materialicon/add.png" alt="">
             Student
           </button></a>
           </div>

         <% } %>
              
      <table id="myTable">
        <thead>
          <tr>
          <th scope="col">Roll No.</th>
          <th scope="col">Name</th>
          <th scope="col">Registration No.</th>
          <th scope="col">Department Name</th>
          <th scope="col">Semester</th>
          <th scope="col">Action</th>
                    
          </tr>
        </thead>
        <tbody>
        <% students.forEach(function(student){ %>
          <tr>
          <th scope="row"><%= student.rollno %></th>
          <td ><%= student.name %></td>
          <td><%= student.rgno %></td>
          <td><%= student.dname %></td>
          <td><%= student.sname %></td>
      <td>
        <ul class="action">
            <% if(login){ %>
              <li>
                <a href="/student/<%=student._id %>" ><img src="/materialicon/morev.svg" alt=""></a >
              </li>
              <li>
                  <a href="/users/index/<%=student._id %>"><img src="/materialicon/edit.png" alt=""></a>
              </li>
              <li>
                    <form action="/users/index/<%= student._id%>?_method=DELETE" method="POST">
                      <button><img src="/materialicon/delete.png" alt=""></button>
                  </form>
              </li>
              <%  } else {  %>
                <li>
                    <a href="/student/<%=student._id %>" class="btn btn-outline-success"><img src="/materialicon/morev.svg" alt="">Details </a >
                    </li>
              <% } %>
    </ul>
    
    </td> 
    </tr>
    <%})%>
    </tbody>
    </table>

   