
<a href="/users/course/<%= student._id %>"> <button class="btn btn-primary">Go To Course</button> </a>
<a href="/users/addCourse/<%= student._id %>"> <button class="btn btn-primary">Add Course</button> </a>


<h1>Performance Of <%= student.name %></h1>

<button onclick="goBack()" class="btn btn-outline-warning"><i class="material-icons">
    undo
  </i> Go Back</button>
  <script>
    function goBack() {
      window.history.back();
    }
    </script>

<table class="table table-bordered " id="performance">
        <thead class="table-active">
          <tr>
            <th scope="col">Semester</th>
            <th scope="col">Sessional</th>
            <!-- <th scope="col"><%= sem1.semester %></th>
            <th scope="col"><%= student.sname %></th> -->

            <% sem1.subjects.forEach(function(sub){ %>
            <th scope="col"><%= sub.name %></th>
            <%})%>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>NO Results Added Till Now</td>
            </tr>
          </tbody>
        </table>
        <a  class="btn btn-primary btn-lg btn-block"  href="/users/index/<%= student._id%>/<%= sem1._id %>/marks/new">Add Result</a>