<% include ../partials/nav %>


<button onclick="goBack()" class="btn btn-outline-warning"><i class="material-icons">
   undo
    </i> Go Back</button>
   

<script>
        function goBack() {
          window.history.back();
        }
$(function() {
    var temp="<%= student.sname%>"; 
    $("#MySem").val(temp);

});
</script>
<form action="/users/index/<%= student._id%>/<%= sem1._id %>/marks" method="POST">
<h1>Add result of <b> <%= student.name%> </b></h1>
<table class="table table1">
    <tbody>

       <tr><div class="form-group">
            <td> <label for="name">Semester:</label></td>
            <td><select name="mark[sem]" id="MySem" class="custom-select">
                        <option value="" selected disabled hidden>Choose here</option>
                        <option value="1">1st</option>
                        <option value="2">2nd</option>
                        <option value="3">3rd</option>
                        <option value="4">4th</option>
                        <option value="5">5th</option>
                        <option value="6">6th</option>
                        <option value="7">7th</option>
                        <option value="8">8th</option>
                      </select></td>
        </tr></div>
        <tr><div class="form-group">
                <td><label for="name">Sessional:</label></td>
                <td><select name="mark[ses]" class="custom-select">
                                <option value="" selected disabled hidden>Choose here</option>
                                <option value="1">1st</option>
                                <option value="2">2nd</option>
                                <option value="3">3rd</option>
                              </select></td>
        </tr></div>
        <% sem1.subjects.forEach(function(sub){ %>
        <tr><div class="form-group">
                <td><label for="sub1"><%= sub.name %></label></td>
                <td> <input type="text" class="form-control " name="<%= sub.name %>" placeholder="<%= sub.name %> Marks" ></td>
        </tr></div>
        <%})%>
        <tr>
                <td></td>
                <td>
                        <button type="submit" class="btn btn-outline-primary"><i class="material-icons">
                        done
                </i>Save</button>
                </td>
        </tr>
    </tbody>
</table>

</form>
    </body>
</html>