

<a href="/users/course/<%= student._id %>"> <button class="btn btn-primary">Go To Course</button> </a>
<a href="/users/addCourse/<%= student._id %>"> <button class="btn btn-primary">Add Course</button> </a>


<h1>Performance Of <%= student.name %></h1>

<button onclick="goBack()" class="btn btn-outline-warning"><i class="material-icons">
    undo
  </i> Go Back</button>
  <script>
    function goBack() {
      window.history.back();
    }
    </script>


<table class="table table-bordered " id="performance">
        <thead class="table-active">
          <tr>
            <th scope="col">Semester</th>
            <th scope="col">Sessional</th>
            <th scope="col">FCPC</th>
            <th scope="col">BE</th>
            <th scope="col">BME</th>
            <th scope="col">Maths</th>
            <th scope="col">English</th>
            <th scope="col">Physics</th>
            
        
          </tr>
          </thead>
          <% student.marks.forEach(function(mark){ %>
        <tbody>
          <tr>
            <th scope="row"><%= mark.sem %></th>
            <td><%=mark.ses %></td>
            <td><%= mark.fcpc %></td>
            <td><%= mark.be %></td>
            <td><%= mark.bme %></td>
            <td><%= mark.maths %></td>
            <td><%= mark.english %></td>
            <td><%= mark.physics %></td>
            <td>
               <a href="/users/perform/<%= student._id %>/<%= mark._id %>"> <button class="btn btn-primary">a
          
                See On Graph</button> </a>
            </td>
          </tr>
          <%})%>
        </tbody>
        </table>
        <a  class="btn btn-primary btn-lg btn-block"  href="/users/index/<%= student._id%>/marks/new">Add Result</a>

  <div class="container" id="perform">
    <h1>Performance Of <b> <%= student.name %> </b> in <b> <%= mark.ses %> </b> Sesssional Of <b> <%= mark.sem %> </b> Semester</h1>
    <canvas id="myChart" width="60%" height="20%"></canvas>
  </div>

  <script>
    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    let massPopChart = new Chart(myChart, {
      type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['FCPC', 'BE', 'BME', 'Math', 'English', 'Physics'],
        datasets:[{
          label:'<%= student.name %>',
          data:[
            '<%= mark.fcpc %>',
            '<%= mark.be %>',
            '<%= mark.bme %>',
            '<%= mark.maths %>',
            '<%= mark.english %>',
            '<%= mark.physics %>'
          ],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, )',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,

          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Performance Of <%= student.name %>',
          fontSize:30
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
  </script>
</body>
</html>
