

<a href="/users/add">
    <button class="btn btn-primary" type="button" href="/users/add">Add Student </button></a>
    


    <button onclick="goBack()" class="btn btn-primary">Go Back</button>
    <script>
      function goBack() {
        window.history.back();
      }
      </script>

<button onclick="goForward()" class="btn btn-primary">Go Forward</button>

<script>
function goForward() {
  window.history.forward();
}
</script>
<% if(students.length > 0) {%>

<h1>Welcome to  <b> <%= students[0].sname %> Semester</b> Of <b> <%= students[0].dname %> </b> Department 
 </h1>


<% var count = 0 %>


  <table class="table table-sm table-striped">
    <thead class="table-active thead-dark">
      <tr>
        <th scope="col">Roll No.</th>
        <th scope="col">Name</th>
        <th scope="col">Registration No.</th>
        <!-- <th scope="col">Email</th> -->
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <% students.forEach(function(students){ %>
      <% count++ %>
<tbody class="tbody-light">
<tr>
  <th scope="row"><%= students.rollno %></th>
  <td ><%= students.name %></td>
  <td><%= students.rgno %></td>
  <!-- <td> <%= students.email%></td> -->
  
  <td>
    <ul class="action">
        <li>
        <a href="/users/index/<%=students._id %>" class="btn btn-outline-info">   <img src="/materialicon/edit.png" alt="">
Edit</a>
        </li>
      </ul>
      
    </td>
  </tr>
  <%})%>
</tbody>
</table>
<button class="btn btn-info btn-block">Total Student = <%= count %></button>
<% } else { %>

  <h1>Sorry... No Record Found!!</h1>
<%}%>



<% include ../partials/footer %>