
    <% include ./partials/nav.ejs %>
    <div class="container ">
        <a href="/users/add">
          <button class="btn btn-primary btn-lg" type="button" href="/users/add">Add Student <i class="material-icons">
            person_add
            </i></button></a>

            <div class="container">
                <div class="row">
                  <div class="col-sm">
                  <a href="/courses/course/5cc4a7e311825c6dacea5987">  CSE</a>
                  </div>
                  <div class="col-sm">
                   <a href="/courses/course/5cc4a48b74ba5562dc2419b4">ME</a>
                  </div>
                  <div class="col-sm">
                    <a href="/courses/course/5cc4a8c1d94b7a03e0f4abf9">CE</a>
                  </div>
                </div>
              </div>

        <table class="table table-sm table-striped">
          <thead class="table-active thead-dark">
            <tr>
              <th scope="col">Roll No.</th>
              <th scope="col">Name</th>
              <th scope="col">Registration No.</th>
              <th scope="col">Department Name</th>
              <th scope="col">Semester</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
              
  </tr>
</thead>
<% students.forEach(function(students){ %>
  <tbody class="tbody-light">
    <tr> <a href="/users/students/<%=students._id %>">
      <th scope="row"><%= students.rollno %></th>
      <td ><%= students.name %></td>
      <td><%= students.rgno %></td>
    <td><%= students.dname %></td>
    <td><%= students.sname %></td>
    <td> <%= students.email%></td>
  </a>
  <td>
    <ul class="action">
    <li>
      <a href="/users/students/<%=students._id %>" class="btn btn-success">Details </a >
      </li>
      <li>
        <a href="/users/index/<%=students._id %>" class="btn btn-info">Edit</a >
        </li>
        <li>
    <form id="delete" action="/users/index/<%= students._id%>?_method=DELETE" method="POST">
      <button>DELETE<i class="material-icons">
        delete
      </i>
    </button></form>
  </li>
</ul>

</td>
</tr>
<%})%>
</tbody>
</table>
</div>
<a href="/users/add">
  <button class="btn btn-primary btn-lg btn-block" type="button" href="/users/add">Add Student <i class="material-icons">
    person_add
    </i></button></a>
</body>
</html>